<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:insert="../fragments/header ::head  ">&nbsp;</div>

<header>
    <div th:insert="../fragments/navbar ::nav  ">&nbsp;</div>


</header>
<body>

<div class="container-sm">
    <form action="#" th:action="@{/addBook}" th:object="${book}"
          method="post">
        <div class="form-group">
            <label for="name1" class="form-label">Name</label>
            <input class="form-control" type="text" id="name1" th:field="*{name}">
        </div>

        <div class="form-group">
            <label for="author1" class="form-label">Author</label>
            <input class="form-control" type="text" id="author1" th:field="*{author}">
        </div>

        <div class="container">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>

    </form>
</div>


</body>
</html>